/******-----RESET CSS-----******/
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/******-----MIS ESTILOS-----******/
html {
  font-size: 16px;
}

body {
  background-color: #eeeeee;
  font-family: sans-serif;
}

body .principalSection {
  max-width: 1200px;
  margin: 4rem auto;
}

body .principalSection h2 {
  font-size: 2rem;
  text-align: center;
  font-family: sans-serif;
  margin: 2rem 0;
  color: #262626;
}

body .principalSection .commentsForm {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .principalSection .commentsForm * {
  display: block;
  margin: 1rem 0;
  padding: 0.7rem 0.5rem;
  border: none;
  border-radius: 4px;
}

body .principalSection .commentsForm label {
  font-family: sans-serif;
  font-size: 1.5rem;
  color: #262626;
}

body .principalSection .commentsForm input[type="submit"] {
  width: 20vw;
  background-color: lightgreen;
  color: #262626;
  border-radius: 20px;
  border: 1px solid #262626;
  margin: 2rem auto;
}

body .principalSection .commentsForm input[type="submit"]:hover {
  -webkit-filter: contrast(1.5);
          filter: contrast(1.5);
}

body .principalSection .errorMsg {
  color: crimson;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-transform: uppercase;
}

body .principalSection .timeLine {
  max-width: 1000px;
  margin: 0 auto;
}

body .principalSection .timeLine .feedTweets {
  background-color: #fafafa;
  padding: 1rem;
}

body .principalSection .timeLine .feedTweets .tweet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 1rem;
  background-color: #ebebeb;
  padding: 1rem;
  border-radius: 4px;
}

body .principalSection .timeLine .feedTweets .tweet__wrapper {
  width: 80px;
}

body .principalSection .timeLine .feedTweets .tweet__wrapper__avatar {
  display: block;
  border-radius: 50%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body .principalSection .timeLine .feedTweets .tweet__wrapper__user {
  display: block;
  text-align: center;
  font-weight: 500;
  margin-top: 0.5rem;
}

body .principalSection .timeLine .feedTweets .tweet__comment {
  padding: 1rem;
}

body .principalSection .timeLine .feedTweets .tweet .buttonsWrapper button {
  color: #262626;
  border-radius: 10px;
  border: 1px solid #262626;
  padding: 0.4rem 0.8rem;
  margin: 0.5rem;
}

body .principalSection .timeLine .feedTweets .tweet .buttonsWrapper button:hover {
  -webkit-filter: contrast(1.5);
          filter: contrast(1.5);
}

body .principalSection .timeLine .feedTweets .tweet__editButton {
  background-color: lightblue;
}

body .principalSection .timeLine .feedTweets .tweet__deleteButton {
  background-color: lightcoral;
}
